Profolio Files/AI Recruitment Assistance.json
{
  "name": "AI Recruitment Assistance",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const raw = $json[\"Email Content\"] || \"\";\n\n// Extract email after \"Email:\"\nconst emailMatch = raw.match(/Email:([^\\n\\r]+)/i);\n\nconst email = emailMatch\n  ? emailMatch[1].trim()\n  : \"\";\n\n// Extract everything after \"Content:\"\nconst contentMatch = raw.match(/Content:([\\s\\S]*)/i);\n\nconst content = contentMatch\n  ? contentMatch[1].trim()\n  : raw;\n\nreturn [\n  {\n    json: {\n      email,\n      content\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        64
      ],
      "id": "fec0e0af-deae-4fdf-be66-c163be72160b",
      "name": "Gmail Output Normalizer"
    },
    {
      "parameters": {
        "jsCode": "const form = $json.body.form_response;\n\n// Create field ID -> title map\nconst fieldMap = {};\n\nfor (const field of form.definition.fields) {\n  fieldMap[field.id] = field.title;\n}\n\nconst parsed = {};\n\nfor (const answer of form.answers) {\n\n  const key = fieldMap[answer.field.id];\n\n  if (answer.text !== undefined) {\n    parsed[key] = answer.text;\n  }\n  else if (answer.email !== undefined) {\n    parsed[key] = answer.email;\n  }\n  else if (answer.phone_number !== undefined) {\n    parsed[key] = answer.phone_number;\n  }\n  else if (answer.number !== undefined) {\n    parsed[key] = answer.number;\n  }\n  else if (answer.url !== undefined) {\n    parsed[key] = answer.url;\n  }\n  else if (answer.boolean !== undefined) {\n    parsed[key] = answer.boolean;\n  }\n  else if (answer.choice) {\n    parsed[key] = answer.choice.label;\n  }\n  else if (answer.choices) {\n    parsed[key] = answer.choices.labels.join(\", \");\n  }\n  else if (answer.date !== undefined) {\n    parsed[key] = answer.date;\n  }\n}\n\nconst email = parsed[\"Email Address\"] || \"\";\n\nconst content = Object.entries(parsed)\n  .filter(([key]) => key !== \"Email Address\")\n  .map(([key, value]) => `${key}: ${value}`)\n  .join(\"\\n\");\n\nreturn [\n  {\n    json: {\n      email,\n      content\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        256
      ],
      "id": "4a7f7431-f2c1-4119-a919-d49fdd399043",
      "name": "Typrform Output Normalizer"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e03ca96-ba3f-4b2b-8269-5564c0412a98",
              "name": "Email Content",
              "value": "=Email:{{ $json.from.value[0].address }}\n\nContent:{{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        64
      ],
      "id": "f716ffeb-2c6d-45e2-9ec8-de205427378c",
      "name": "Gmail data Extractor"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "50f76008-78c8-46e6-95a9-d0f17f360256",
        "options": {
          "responseData": ""
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -848,
        256
      ],
      "id": "783b0090-0393-4202-82cb-2c11877d7e10",
      "name": "Typeform Data",
      "webhookId": "50f76008-78c8-46e6-95a9-d0f17f360256"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "simple": false,
        "filters": {
          "includeSpamTrash": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -1056,
        64
      ],
      "id": "f42acfa6-63a3-45da-8bcb-689abbfc49e6",
      "name": "Gmail Data",
      "credentials": {
        "gmailOAuth2": {
          "id": "afBOfmt1I1vTCg3k",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=# AI Recruitment Analyst & Hiring Assistant\n\nYou are an Expert AI Recruitment Analyst.\n\nYour role is to analyze candidate applications and prepare structured candidate evaluation data for an automated recruitment workflow.\n\nCandidate applications may come from:\n- Typeform submissions\n- Email applications\n- Both sources processed individually\n\nCandidate input format:\n\nEmail:\n{{ $json.email }}\n\nContent:\n{{ $json.content }}\n\n\n## PRIMARY RESPONSIBILITY\n\nFor every candidate:\n\n1. Extract candidate information.\n2. Evaluate job suitability.\n3. Generate standardized ratings.\n4. Return structured output for downstream processing.\n\nDo NOT calculate final scores.\nDo NOT apply weighting formulas.\nDo NOT make hiring decisions based on personal characteristics.\n\n\n# INFORMATION EXTRACTION\n\nExtract the following information when available:\n\n- Candidate Name\n- Email Address\n- Phone Number\n- Skills\n- Years of Experience\n- Candidate Summary\n- Strengths\n- Weaknesses\n- Recruiter Notes\n\n\nRules:\n- If information is unavailable, return \"Not Provided\".\n- Never invent information.\n- Never assume qualifications that are not explicitly stated.\n\n\n# CANDIDATE EVALUATION\nEvaluate candidates only using job-relevant information.\n\n## Skills Rating\nField:\nskills_rating\nRange:\n0-10\n\nEvaluate based on:\n- Technical skills\n- Relevant competencies\n- Tools and technologies\n- Alignment with role requirements\n\n\n## Experience Rating\nField:\nexperience_rating\nRange:\n0-10\n\nEvaluate based on:\n- Relevant work history\n- Years of experience\n- Practical projects\n- Industry exposure\n\n\n## Communication Rating\nField:\ncommunication_rating\nRange:\n0-10\n\nEvaluate based on:\n- Clarity of responses\n- Professional writing\n- Ability to explain ideas\n\n\n## Motivation Rating\nField:\nmotivation_rating\nRange:\n0-10\n\nEvaluate based on:\n- Interest in role\n- Career alignment\n- Enthusiasm shown in application\n\n\n# FAIRNESS REQUIREMENTS\nNever consider:\n- Age\n- Gender\n- Race\n- Ethnicity\n- Religion\n- Nationality\n- Marital status\n\nEvaluate only:\n- Skills\n- Experience\n- Qualifications\n- Communication\n- Motivation\n- Job-related information\n\n\n# OUTPUT FORMAT\nReturn ONLY valid JSON.\n\nExample:\n{\n  \"candidate_name\": \"John Doe\",\n  \"email\": \"john@email.com\",\n  \"phone\": \"Not Provided\",\n  \"skills\": \"Python, n8n, APIs\",\n  \"years_of_experience\": \"3 years\",\n  \"candidate_summary\": \"Candidate has automation experience.\",\n  \"strengths\": \"Strong API knowledge\",\n  \"weaknesses\": \"Limited cloud experience\",\n  \"recruiter_notes\": \"Good technical alignment\",\n  \"skills_rating\": 8,\n  \"experience_rating\": 7,\n  \"communication_rating\": 9,\n  \"motivation_rating\": 8\n}\n\nDo not include explanations outside JSON.",
              "role": "model"
            },
            {
              "content": "=Email: {{ $json.email }}\n\nContent: {{ $json.content }}\n"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        -384,
        160
      ],
      "id": "0ea5103d-2eae-4fb2-b724-977a86fc5628",
      "name": "AI Recruiment Analysis",
      "credentials": {
        "googlePalmApi": {
          "id": "O8EGNCJUB7bi5uW9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get AI text output\nconst aiText = $json.content.parts[0].text;\n\n// Convert string JSON into object\nconst data = JSON.parse(aiText);\n\n\n// Extract ratings\nconst skills = Number(data.skills_rating);\nconst experience = Number(data.experience_rating);\nconst communication = Number(data.communication_rating);\nconst motivation = Number(data.motivation_rating);\n\n\n// Weighting system\nconst weights = {\n  skills: 0.4,\n  experience: 0.3,\n  communication: 0.2,\n  motivation: 0.1\n};\n\n\n// Calculate weighted scores\nconst skills_score = skills * 10 * weights.skills;\nconst experience_score = experience * 10 * weights.experience;\nconst communication_score = communication * 10 * weights.communication;\nconst motivation_score = motivation * 10 * weights.motivation;\n\n\n// Total score\nconst total_score =\n  skills_score +\n  experience_score +\n  communication_score +\n  motivation_score;\n\n\n// Recommendation\nlet recommendation;\n\nif (total_score >= 80) {\n  recommendation = \"Strongly Recommended\";\n} \nelse if (total_score >= 65) {\n  recommendation = \"Recommended\";\n} \nelse if (total_score >= 50) {\n  recommendation = \"Needs Review\";\n} \nelse {\n  recommendation = \"Not Recommended\";\n}\n\n\n// Return final record\n\nreturn [\n  {\n    json: {\n      ...data,\n\n      skills_score: Number(skills_score.toFixed(2)),\n      experience_score: Number(experience_score.toFixed(2)),\n      communication_score: Number(communication_score.toFixed(2)),\n      motivation_score: Number(motivation_score.toFixed(2)),\n\n      total_score: Number(total_score.toFixed(2)),\n\n      recommendation,\n\n      date_applied: new Date().toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        160
      ],
      "id": "39201c58-b2a7-4069-9abb-73ddd659760e",
      "name": "Recruitment Scoring Engine"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "169QR9z3_wJfOZFEo8Ie7LmZiVx9bwkd1YP6HD7HpUpo",
          "mode": "list",
          "cachedResultName": "Applicant Database ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/169QR9z3_wJfOZFEo8Ie7LmZiVx9bwkd1YP6HD7HpUpo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/169QR9z3_wJfOZFEo8Ie7LmZiVx9bwkd1YP6HD7HpUpo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date Applied ": "={{ $json.date_applied }}",
            "Candidate Name ": "={{ $json.candidate_name }}",
            "Email  Address ": "={{ $json.email }}",
            "Phone Number ": "={{ $json.phone }}",
            "Skills ": "={{ $json.skills }}",
            "Years of Experience ": "={{ $json.years_of_experience }}",
            "Candidate Summary ": "={{ $json.candidate_summary }}",
            "Strength": "={{ $json.strengths }}",
            "Weakness": "={{ $json.weaknesses }}",
            "Recruiter Note": "={{ $json.recruiter_notes }}",
            "Skill Score ": "={{ $json.skills_score }}",
            "Experience Score ": "={{ $json.experience_score }}",
            "Communication Score": "={{ $json.communication_score }}",
            "Motivation Score": "={{ $json.motivation_score }}",
            "Total Score": "={{ $json.total_score }}",
            "Recommendation ": "={{ $json.recommendation }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date Applied ",
              "displayName": "Date Applied ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Candidate Name ",
              "displayName": "Candidate Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email  Address ",
              "displayName": "Email  Address ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number ",
              "displayName": "Phone Number ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Skills ",
              "displayName": "Skills ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Years of Experience ",
              "displayName": "Years of Experience ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Candidate Summary ",
              "displayName": "Candidate Summary ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Strength",
              "displayName": "Strength",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Weakness",
              "displayName": "Weakness",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recruiter Note",
              "displayName": "Recruiter Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Skill Score ",
              "displayName": "Skill Score ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Experience Score ",
              "displayName": "Experience Score ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Communication Score",
              "displayName": "Communication Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Motivation Score",
              "displayName": "Motivation Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Score",
              "displayName": "Total Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommendation ",
              "displayName": "Recommendation ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        160
      ],
      "id": "b0de674d-098a-4055-a4ae-c4cf2ffd5b51",
      "name": "Applicant Database",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HQMPVdd79TZuVDCV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6859058216",
        "text": "=🚨 Candidate Review Required\n\nA candidate requires manual review by the recruitment team.\n\n👤 Candidate:\n{{ $json[\"Candidate Name \"] }}\n\n📧 Email:\n{{ $json[\"Email  Address \"] }}\n\n📱 Phone:\n{{ $json[\"Phone Number \"] }}\n\n⭐ Total Score:\n{{ $json[\"Total Score\"] }}/100\n\n📌 Recommendation:\n{{ $json[\"Recommendation \"] }}\n\n🛠 Skills:\n{{ $json[\"Skills \"] }}\n\n💼 Experience:\n{{ $json[\"Years of Experience \"] }}\n\n📝 Summary:\n{{ $json[\"Candidate Summary \"] }}\n\n💪 Strengths:\n{{ $json.Strength }}\n\n⚠️ Weaknesses:\n{{ $json.Weakness }}\n\n\n\nPlease review the full candidate record in the applicant database and take the appropriate action.\n\n— AI Recruitment Assistant",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        176
      ],
      "id": "fea929ab-d5e4-4bd9-8d40-44fa93306c35",
      "name": "Recruitment Team",
      "webhookId": "06d802eb-cea6-434f-a4c1-cc3bb09d4502",
      "credentials": {
        "telegramApi": {
          "id": "MXJXnvHY56lRj0EF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"Recommendation \"] }}",
                    "rightValue": "Strongly Recommended",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8b308481-7f04-4ec7-adeb-d41ec65f69af"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Shortlist"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d311e7df-0b16-4861-8a6e-c89bdb6b45fb",
                    "leftValue": "={{ $json[\"Recommendation \"] }}",
                    "rightValue": "Recommended",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "also Shortlist"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d8eb8682-dba2-407c-a6ce-894fcd2f6cac",
                    "leftValue": "={{ $json[\"Recommendation \"] }}",
                    "rightValue": "Needs Review",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reviewing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "52d70b02-8290-4b9c-824e-e2a1ca297cbe",
                    "leftValue": "={{ $json[\"Recommendation \"] }}",
                    "rightValue": "Not Recommended",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "rejected"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        416,
        128
      ],
      "id": "a588fcb7-631f-4150-92ae-395f0532fa31",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"Email  Address \"] }}",
        "subject": "Thank You for Your Application – Update on Your Candidacy",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n<style>\nbody {\n  font-family: Arial, sans-serif;\n  background-color: #f4f7fb;\n  padding: 20px;\n}\n\n.container {\n  max-width: 600px;\n  margin: auto;\n  background: white;\n  padding: 30px;\n  border-radius: 10px;\n}\n\n.header {\n  background-color: #334155;\n  color: white;\n  padding: 20px;\n  text-align: center;\n  border-radius: 10px 10px 0 0;\n}\n\n.content {\n  padding: 20px;\n  line-height: 1.6;\n  color: #333;\n}\n\n.footer {\n  text-align: center;\n  font-size: 12px;\n  color: #777;\n}\n</style>\n</head>\n\n<body>\n\n<div class=\"container\">\n\n<div class=\"header\">\n<h2>Application Update</h2>\n</div>\n\n<div class=\"content\">\n\n<p>Hello {{ $json[\"Candidate Name \"] }},</p>\n\n<p>\nThank you for taking the time to apply and for sharing your experience with us.\nWe appreciate your interest in this opportunity.\n</p>\n\n<p>\nAfter careful review of your application, we have decided not to proceed\nwith your application for this role at this stage.\n</p>\n\n<p>\nWe encourage you to continue developing your skills and exploring future\nopportunities that may better match your experience and qualifications.\n</p>\n\n<p>\nWe sincerely appreciate your interest and wish you success in your career journey.\n</p>\n\n<p>\nBest regards,<br>\nRecruitment Team\n</p>\n\n</div>\n\n<div class=\"footer\">\nThis is an automated notification.\n</div>\n\n</div>\n\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        656,
        368
      ],
      "id": "3f7154dd-9673-4d04-807a-d2da2ce8277a",
      "name": "Rejected Applicants",
      "webhookId": "07cc8e3b-1ba5-4521-b993-e8765b40d4c3",
      "credentials": {
        "gmailOAuth2": {
          "id": "afBOfmt1I1vTCg3k",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"Email  Address \"] }}",
        "subject": "Application Update: You Have Been Selected for the Next Stage",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      background-color: #f4f7fb;\n      padding: 20px;\n    }\n\n    .container {\n      max-width: 600px;\n      margin: auto;\n      background: white;\n      padding: 30px;\n      border-radius: 10px;\n    }\n\n    .header {\n      background-color: #0f766e;\n      color: white;\n      padding: 20px;\n      text-align: center;\n      border-radius: 10px 10px 0 0;\n    }\n\n    .content {\n      padding: 20px;\n      color: #333;\n      line-height: 1.6;\n    }\n\n    .footer {\n      font-size: 12px;\n      color: #777;\n      text-align: center;\n      margin-top: 20px;\n    }\n\n    .badge {\n      background-color: #dcfce7;\n      color: #166534;\n      padding: 8px 15px;\n      border-radius: 20px;\n      display: inline-block;\n      font-weight: bold;\n    }\n  </style>\n</head>\n\n<body>\n\n<div class=\"container\">\n\n  <div class=\"header\">\n    <h2>Congratulations!</h2>\n    <p>Your Application Has Been Shortlisted</p>\n  </div>\n\n  <div class=\"content\">\n\n    <p>Hello ,{{ $json[\"Candidate Name \"] }}</p>\n\n    <p>\n      Thank you for your interest in our opportunity.\n      After reviewing your application, we are pleased to inform you that\n      your profile has been shortlisted for the next stage of our recruitment process.\n    </p>\n\n    <p>\n      Your application demonstrated strong alignment with our requirements,\n      and our recruitment team will contact you regarding the next steps.\n    </p>\n\n    <p>\n      Application Status:\n      <br>\n      <span class=\"badge\">Shortlisted</span>\n    </p>\n\n    <p>\n      We appreciate your time and effort throughout the application process.\n    </p>\n\n    <p>\n      Best regards,<br>\n      Recruitment Team\n    </p>\n\n  </div>\n\n  <div class=\"footer\">\n    This is an automated notification. Please do not reply directly to this email.\n  </div>\n\n</div>\n\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        640,
        -32
      ],
      "id": "4baa0af7-5c37-4fcd-bea8-ed540cbb3a5d",
      "name": "Shorlisted Applicants",
      "webhookId": "4a18db2c-c438-4096-a483-99dc913241fb",
      "credentials": {
        "gmailOAuth2": {
          "id": "afBOfmt1I1vTCg3k",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Output Normalizer": [
      {
        "json": {
          "email": "abdulhammedilufoye@gmail.com",
          "content": "Hello,\n\nMy name is Michael Johnson, and I am interested in the AI Automation\nEngineer role.\n\nI have 3 years of experience building automation workflows using n8n,\nMake.com, APIs, webhooks, JavaScript, and AI tools. I have developed\nsolutions for lead management, email automation, CRM integrations, and\nbusiness process automation.\n\nMy email is michael.johnson@gmail.com and my phone number is +2348012345678.\n\nLinkedIn: https://www.linkedin.com/in/michaeljohnson\n\nI believe I am a strong candidate because I enjoy solving business problems\nwith AI and automation while improving efficiency and reducing manual work.\n\nThank you for your consideration.\n\nMichael Johnson"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Typrform Output Normalizer": [
      {
        "json": {
          "email": "abdulhammedilufoye@gmail.com",
          "content": "Full Name: Adedeji Abdulhammed Adewale\nPhone Number: +2349157879807\nYears of Professional Experience: 3\nKey Skills: Python \nJS\nLinkedIn Profile URL: https://https.com\nWhy should we hire you?: Just hire me"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "AI Recruiment Analysis": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "{\n  \"candidate_name\": \"Michael Johnson\",\n  \"email\": \"michael.johnson@gmail.com\",\n  \"phone\": \"+2348012345678\",\n  \"skills\": \"n8n, Make.com, APIs, webhooks, JavaScript, AI tools\",\n  \"years_of_experience\": \"3 years\",\n  \"candidate_summary\": \"Experienced AI Automation Engineer proficient in building workflows for lead management, CRM integrations, and business process automation.\",\n  \"strengths\": \"Strong technical stack with n8n and Make.com; clear focus on business process efficiency and problem-solving.\",\n  \"weaknesses\": \"Not Provided\",\n  \"recruiter_notes\": \"Candidate provided a clear summary of relevant experience and tools. Matches the technical requirements for an AI Automation Engineer.\",\n  \"skills_rating\": 9,\n  \"experience_rating\": 7,\n  \"communication_rating\": 9,\n  \"motivation_rating\": 8\n}",
                "thoughtSignature": "EjQKMgERTTIP2YmA8FTd8xJeups3msC7JbFjQHPCpb/w+6xv401299InS1gxDVhJ5VepKzDU"
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Gmail Output Normalizer": {
      "main": [
        [
          {
            "node": "AI Recruiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Typrform Output Normalizer": {
      "main": [
        [
          {
            "node": "AI Recruiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail data Extractor": {
      "main": [
        [
          {
            "node": "Gmail Output Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Typeform Data": {
      "main": [
        [
          {
            "node": "Typrform Output Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Data": {
      "main": [
        [
          {
            "node": "Gmail data Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Recruiment Analysis": {
      "main": [
        [
          {
            "node": "Recruitment Scoring Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recruitment Scoring Engine": {
      "main": [
        [
          {
            "node": "Applicant Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Applicant Database": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Shorlisted Applicants",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Shorlisted Applicants",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Recruitment Team",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rejected Applicants",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "573de160-477e-4967-81b4-f616436d5941",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "99d72378a47fb85cb90169d2385168bd91bed01ebd85dd12e4d08c55ed885f5f"
  },
  "nodeGroups": [],
  "id": "Gj5muJmiN0qBYJe4",
  "tags": []
}